@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --fg: #0a0a0a;
}

html, body {
  height: 100%;
}

body {
  color: var(--fg);
  background: var(--bg);
}

.container {
  @apply mx-auto max-w-6xl px-4;
}
